<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScholarSeeker</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="title">
      <img src="static/logo.png" alt="ScholarSeeker Logo" class="logo" />
      <h1>ScholarSeeker</h1>
    </div>
    <div class="full-height-container">
      <div class="chat-container">
        <div id="chat-box">
          <!-- Messages will be displayed here -->
        </div>
        <div class="input-container">
          <!-- user's query -->
          <input
            type="text"
            id="user-input"
            placeholder="Type your message here..."
            autocomplete="on"
          />
          <button onclick="sendMessage()">Send</button>

          <!-- File Upload -->
          <div class="popup" id="upload">
            <input
              type="file"
              id="fileInput"
              accept=".xlsx,.xls,.txt,.pdf,.doc,.docx"
            />
            <button id="uploadButton">Upload File</button>
          </div>

          <!-- Thread Reset -->
          <div class="popup">
            <button id="reset">Reset</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
